<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 전송</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <form action="/user/forget-password" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" id="email" class="form-control" name="email">
            </div>
            <button type="submit" class="btn btn-outline-primary">비밀번호 재설정 링크 보내기</button>
        </form>
    </div>
</body>