<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설정</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <fieldset>
        <legend>설정</legend>
        <a href="/profile" class="btn btn-outline-primary">계정</a>
        <a href="/profile/as" class="btn btn-outline-primary">문의하기</a>
    </fieldset>
  </div>
</body>
</html>